@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/fira-sans-condensed-v4-latin-100.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Condensed Thin'), local('FiraSansCondensed-Thin'),
       url('../fonts/fira-sans-condensed-v4-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fira-sans-condensed-v4-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fira-sans-condensed-v4-latin-100.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fira-sans-condensed-v4-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fira-sans-condensed-v4-latin-100.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/fira-sans-condensed-v4-latin-200.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Condensed ExtraLight'), local('FiraSansCondensed-ExtraLight'),
       url('../fonts/fira-sans-condensed-v4-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fira-sans-condensed-v4-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fira-sans-condensed-v4-latin-200.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fira-sans-condensed-v4-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fira-sans-condensed-v4-latin-200.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: italic;
  font-weight: 100;
  src: url('../fonts/fira-sans-condensed-v4-latin-100italic.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Condensed Thin Italic'), local('FiraSansCondensed-ThinItalic'),
       url('../fonts/fira-sans-condensed-v4-latin-100italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fira-sans-condensed-v4-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fira-sans-condensed-v4-latin-100italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fira-sans-condensed-v4-latin-100italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fira-sans-condensed-v4-latin-100italic.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: italic;
  font-weight: 200;
  src: url('../fonts/fira-sans-condensed-v4-latin-200italic.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Condensed ExtraLight Italic'), local('FiraSansCondensed-ExtraLightItalic'),
       url('../fonts/fira-sans-condensed-v4-latin-200italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fira-sans-condensed-v4-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fira-sans-condensed-v4-latin-200italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fira-sans-condensed-v4-latin-200italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fira-sans-condensed-v4-latin-200italic.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/fira-sans-condensed-v4-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Condensed Light'), local('FiraSansCondensed-Light'),
       url('../fonts/fira-sans-condensed-v4-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fira-sans-condensed-v4-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fira-sans-condensed-v4-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fira-sans-condensed-v4-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fira-sans-condensed-v4-latin-300.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fira-sans-condensed-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Condensed Regular'), local('FiraSansCondensed-Regular'),
       url('../fonts/fira-sans-condensed-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fira-sans-condensed-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fira-sans-condensed-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fira-sans-condensed-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fira-sans-condensed-v4-latin-regular.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/fira-sans-condensed-v4-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Condensed Light Italic'), local('FiraSansCondensed-LightItalic'),
       url('../fonts/fira-sans-condensed-v4-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fira-sans-condensed-v4-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fira-sans-condensed-v4-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fira-sans-condensed-v4-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fira-sans-condensed-v4-latin-300italic.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/fira-sans-condensed-v4-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Condensed Italic'), local('FiraSansCondensed-Italic'),
       url('../fonts/fira-sans-condensed-v4-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fira-sans-condensed-v4-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fira-sans-condensed-v4-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fira-sans-condensed-v4-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fira-sans-condensed-v4-latin-italic.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/fira-sans-condensed-v4-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Condensed Medium'), local('FiraSansCondensed-Medium'),
       url('../fonts/fira-sans-condensed-v4-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fira-sans-condensed-v4-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fira-sans-condensed-v4-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fira-sans-condensed-v4-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fira-sans-condensed-v4-latin-500.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/fira-sans-condensed-v4-latin-500italic.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Condensed Medium Italic'), local('FiraSansCondensed-MediumItalic'),
       url('../fonts/fira-sans-condensed-v4-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fira-sans-condensed-v4-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fira-sans-condensed-v4-latin-500italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fira-sans-condensed-v4-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fira-sans-condensed-v4-latin-500italic.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/fira-sans-condensed-v4-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Condensed SemiBold'), local('FiraSansCondensed-SemiBold'),
       url('../fonts/fira-sans-condensed-v4-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fira-sans-condensed-v4-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fira-sans-condensed-v4-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fira-sans-condensed-v4-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fira-sans-condensed-v4-latin-600.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/fira-sans-condensed-v4-latin-600italic.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Condensed SemiBold Italic'), local('FiraSansCondensed-SemiBoldItalic'),
       url('../fonts/fira-sans-condensed-v4-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fira-sans-condensed-v4-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fira-sans-condensed-v4-latin-600italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fira-sans-condensed-v4-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fira-sans-condensed-v4-latin-600italic.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/fira-sans-condensed-v4-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Condensed Bold'), local('FiraSansCondensed-Bold'),
       url('../fonts/fira-sans-condensed-v4-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fira-sans-condensed-v4-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fira-sans-condensed-v4-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fira-sans-condensed-v4-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fira-sans-condensed-v4-latin-700.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/fira-sans-condensed-v4-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Condensed ExtraBold'), local('FiraSansCondensed-ExtraBold'),
       url('../fonts/fira-sans-condensed-v4-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fira-sans-condensed-v4-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fira-sans-condensed-v4-latin-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fira-sans-condensed-v4-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fira-sans-condensed-v4-latin-800.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/fira-sans-condensed-v4-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Condensed Bold Italic'), local('FiraSansCondensed-BoldItalic'),
       url('../fonts/fira-sans-condensed-v4-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fira-sans-condensed-v4-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fira-sans-condensed-v4-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fira-sans-condensed-v4-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fira-sans-condensed-v4-latin-700italic.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: italic;
  font-weight: 800;
  src: url('../fonts/fira-sans-condensed-v4-latin-800italic.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Condensed ExtraBold Italic'), local('FiraSansCondensed-ExtraBoldItalic'),
       url('../fonts/fira-sans-condensed-v4-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fira-sans-condensed-v4-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fira-sans-condensed-v4-latin-800italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fira-sans-condensed-v4-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fira-sans-condensed-v4-latin-800italic.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: italic;
  font-weight: 900;
  src: url('../fonts/fira-sans-condensed-v4-latin-900italic.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Condensed Black Italic'), local('FiraSansCondensed-BlackItalic'),
       url('../fonts/fira-sans-condensed-v4-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fira-sans-condensed-v4-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fira-sans-condensed-v4-latin-900italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fira-sans-condensed-v4-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fira-sans-condensed-v4-latin-900italic.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/fira-sans-condensed-v4-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Condensed Black'), local('FiraSansCondensed-Black'),
       url('../fonts/fira-sans-condensed-v4-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fira-sans-condensed-v4-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fira-sans-condensed-v4-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fira-sans-condensed-v4-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fira-sans-condensed-v4-latin-900.svg#\1') format('svg'); /* Legacy iOS */
}
